h4 {
  color: #3f3a64;
}

p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: .8;
}

.embed-image {
  background: url(../img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  position: relative;
  z-index: 0;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.embed-image h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

.embed-image p {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}

.hero-overlay {
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.left-side {
  display: flex;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.btn-hang {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.position-relative {
  z-index: 1;
  position: relative !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.bg-shape {
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 500px;
  background: #009f4d;
  opacity: 0.4;
  position: absolute;
  top: 0;
  z-index: -1;
}

.imginfo__box {
  background-color: #009f4d;
  color: #fff;
  position: absolute;
  right: 85px;
  bottom: 10px;
  padding: 35px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  border-radius: 8px;
  min-height: 200px;
  transform: rotate(45deg);
  text-align: center;
}

.imginfo__info {
  transform: rotate(-45deg);
}

.imginfo__box .imginfo__title {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0 0 10px 0;
}

.imginfo__box p {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.left-wthree-img img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}

.radius-image-full {
  border-radius: 35px;
}

.read-btn {
  background-color: #00a63f;
  padding: 15px 50px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.read-btn:hover {
  background-color: #23915e;
}

.intro-text {
  display: block;
  color: #3f3a64;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
}

.number {
  color: #009f4d;
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}

.text-second-intro {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: #3f3a64;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.bg-atta {
  background: url(../img/bg1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  padding: 4rem;
  gap: 20px;
}

.play-btn {
  text-align: center;
}

.bi-play-circle:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: 0.4s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 0;
  border: none;
  width: 80%;
  max-width: 650px;
}

.close {
  position: absolute;
  top: -40px;
  right: 5px;
  color: white;
  font-size: 25px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 400px;
}

.start-btn {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  background-color: #00a63f;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.start-btn:hover {
  background-color: #23915e;
}

/* pic */
.team-member,
.team-img {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.team-img img {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.team-details {
  opacity: 0;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 10%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}

.team-details p {
  color: #fff;
}

.team-member:hover .overlay {
  opacity: 0.6;
}

.team-member:hover .team-details {
  opacity: 1;
  bottom: 50%;
  transform: translateY(50%);
}

.team-member a {
  text-decoration: none;
  color: #3f3a64;
  transition: 0.2s ease-in-out;
}

h6 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.team-member a:hover {
  color: #00a63f;
}

.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.socials a {
  text-decoration: none;
}

.title-content {
  max-width: 800px;
  margin: auto;
}

.content4-right-info h6 {
  text-align: left;
  margin-bottom: 0;
  color: #3f3a64;
  font-weight: 600;
  font-size: 24px;
}

.video-play-icon {
  cursor: pointer;
  display: inline-block;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}
.modal-content {
  position: relative;
  margin: 15% auto; 
  padding: 0;
  border: none;
  width: 80%;
  max-width: 650px;
}
.close {
  position: absolute;
  top: -40px;
  right: 5px;
  color: white;
  font-size: 25px;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 400px;
}

.new-play-btn {
  cursor: pointer;
  display: inline-block;
}

.new-play-btn svg {
  fill: white;
}

.new-play-btn svg:hover {
  fill: #ccc; /* Optional hover effect */
}

.new-modal {
  display: none; 
  position: fixed; 
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

.new-modal-content {
  position: relative;
  margin: 15% auto; 
  padding: 0;
  border: none;
  width: 80%;
  max-width: 650px;
}

.new-close {
  position: absolute;
  top: -40px;
  right: 5px;
  color: white;
  font-size: 25px;
}

.new-close:hover,
.new-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.new-modal iframe {
  width: 100%;
  height: 400px;
}
